@{
    ViewData["Title"] = "Ana Sayfa";
}

<div class="card" style="width: 18rem;">
  <img src="/assets/html.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Bu Zamana Kadar İşlenen Konular</h5>
    <p class="card-text"></p>
    <a href="~/Ogrendiklerim/Asama2/" class="btn btn-primary">İçeriğe git...</a>
  </div>
</div>


