
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container-fluid">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">BurcuUstaelBlog</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">AnaSayfa</a>
                    </li>
                    <li class="nav-item">

                        <div class="button-group">
                            <a class="nav-link text-dark btn dropdown-toggle" data-bs-toggle="dropdown"  asp-area="" asp-controller="Ogrendiklerim" asp-action="Index">Öğrendiklerim</a>
                             <ul class="dropdown-menu dropdown-menu">
                                <li><a class="dropdown-item" href="https://siliconmadeacademy.com/goldenmade-egitim-programi.html" target="_blank">1. Aşama</a></li>
                                <li><a class="dropdown-item" asp-controller="Ogrendiklerim" asp-action="Asama2">2. Aşama</a></li>
                                <li><a class="dropdown-item">3. Aşama </a></li>
                            </ul>
                        </div>
                    </li>



                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Iletisim" asp-action="Index">İletişim</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Gizlilik</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
