
@{
    ViewData["Title"] = "Index";
}

<h1>Session</h1>

<form asp-action="SessionOlustur">

    <input type="text" name="kullaniciAdi"  value="admin" />
    <input type="password" name="sifre" />
    <input type="submit" value="Giriş" />

</form>

@TempData["mesaj"]