
@{
    ViewData["Title"] = "CookieOku";
}

<h1>CookieOku</h1>

<div>
    Kullanıcı adı: @TempData["kullaniciadi"]

</div>

<div>
    
    Kullanıcı guid: @TempData["kullaniciguid"]

</div>



<a asp-action="CookieSil">
    Silmek için!
</a>